{
  "presets": [
    "es2015",
    "react",
    "power-assert"
  ],
  "plugins": [
    [
      "babel-plugin-resolver",
      {
        "resolveDirs": [
          "src"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "sourceMaps": true
}
