.git/

# for editor settings
.idea/
.vscode

# for npm
node_modules/
npm-shrinkwrap.json
npm-debug.log

# tests
test/
spec/

# doc
README.md

# misc
circle.yml
.coveralls.yml
stories/
bin/
.vscode/
.circleci/
